/* /////////////////////////////////////////////// */
/* //////////////// GLOBAL STYLES //////////////// */
/* /////////////////////////////////////////////// */

html,
body {
  height: 100%;
  width: 100%;
}

/* STICKY FOOTER */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /*background-color: #f1f1f1;*/
}
#content-wrap {
  flex: 1;
}
.footer {
  margin-top: 50px;
  background-color: #383838;
  color: white;
  margin-top: 1rem;
}
.footer-subtext {
  color: #e8e8e8;
  line-height: 1.255;
}
.footer-title {
  color: #fbfbfb;
}

/* NAVBAR */
#search-bar {
  width: 150px;
}
.cart button {
  display: flex;
  padding: 0;
  padding-left: 8px;
  padding-right: 8px;
  background-color: transparent;
  border: none !important;
}
.cart svg {
  color: black;
}
.cart .badge {
  font-size: 8px;
}
.cart button:hover {
  background-color: transparent !important;
}
.cart:hover svg {
  color: red;
}

.lineHalf {
  line-height: 0.5;
}

.navBack {
  background-color: #f8f9fa;
}

@media (min-width: 992px) {
  .navBack {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  .nav-item-desktop {
    min-width: 30%;
  }

  .nav-link-desktop {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    line-height: 0.5;
    font-weight: bold;
    width: 100%;
    text-align: center;
    background-color: white;
  }
}

/* /////////////////////////////////////////////// */
/* //////////////// PAGE SPECIFIC //////////////// */
/* /////////////////////////////////////////////// */
/* HOME */
#carosuel-container {
  width: 100%;
  height: 180px;
}
#carosuel-container .carousel,
#carosuel-container .carousel .tem {
  height: 100%;
  width: 100%;
}
.carousel-inner {
  height: 100%;
  display: flex;
  align-items: center;
}

.category-card,
.onsale-card {
  margin-bottom: 10px;
}
.category-card .wrapper,
.onsale-card .wrapper {
  max-width: 200px;
  margin: 0 auto;
}
.category-card .img,
.onsale-card .img {
  margin: 0 auto;
  width: 90%;
  padding-top: 90%;
  position: relative;
  overflow: hidden;
}
.category-card img,
.onsale-card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.category-card h3,
.onsale-card h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 7px;
}

.onsale-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  user-select: none;
}
.onsale-card .wrapper {
  width: 180px;
}
.onsale-card h3 {
  text-align: left;
  padding-left: 10px;
  margin-bottom: 0;
}
.onsale-card p {
  padding-left: 10px;
  margin-top: 0;
}
.onsale-card .original-price {
  text-decoration: line-through;
  color: gray;
}
.onsale-card .new-price {
  color: red;
  font-weight: bold;
}

.blog-previews button {
  margin: 0 auto;
  display: block;
}
.blog-preview {
  color: rgb(104, 104, 104);
  text-align: justify;
}
.blog-preview .link {
  display: none;
  color: green;
  text-decoration: underline;
}
.blog-preview .hidden-link {
  color: inherit;
  text-decoration: none;
}

/* PRODUCTS */
#category-hint{
    color: rgb(85, 85, 85);
    font-size: 14px;
    margin-bottom: 10px;
}
.product-card {
  display: flex;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.product-card .img {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
}
.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-card .info {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-card .info h3 {
  font-size: 16px;
  margin-bottom: 0;
}
.product-card .rating {
  font-size: 0;
}
.product-card .rating svg {
  margin-right: 2px;
}
.product-card .price {
  margin: 0;
  display: block;
  line-height: 0.8;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
}
.product-card .unit-price {
  margin: 0;
  display: block;
  font-size: 12px;
  color: rgb(99, 99, 99);
  margin-bottom: 5px;
}

/* PRODUCT */
.product-details{
  flex-direction: column;
  flex-wrap: wrap;
}
.product-details .img{
  width: 100%;
  padding-top: 100%;
  position: relative;
  margin-right: 0;
}
.product-details .img img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-details .info{
  padding-left: 0;
}
.product-details .info h3{
  font-size: 22px;
}
.product-details .info .price{ font-size: 22px; }
.product-details .info .unit-price{ font-size: 14px; }
.product-details .order{
  display: block;
  width: 160px;
  margin-bottom: 0;
}
.product-details .description{
  font-size: 18px;
  margin-top: 10px;
}
.product-details .detailed-description{
  margin-top: 20px;
  display: block;
  width: 100%;
}

/* BLOGS */
.blog-post {
  background-color: #e7e7e7;
}
.blog-post-summary {
  color: #68717a;
}
@media (min-width: 768px) {
  .blog-main {
    background-color: white;
    margin-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 2px 12px 4px rgba(0, 0, 0, 0.1);
  }
  .blog-post {
    background-color: white;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12);
  }
}

/* /////////////////////////////////////////////// */
/* ////////////////    UTILITY    //////////////// */
/* /////////////////////////////////////////////// */
@media (min-width: 992px) {
  .w-lg-auto {
    width: auto !important;
  }
}

@media (min-width: 768px) {
  .desktop-main {
    background-color: white;
    margin-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 2px 12px 4px rgba(0, 0, 0, 0.1);
  }
}

.separator-hr {
  margin: 15px auto;
  width: 60%;
}

.object-fit-cover {
  object-fit: cover;
}
