/* /////////////////////////////////////////////// */
/* //////////////// GLOBAL STYLES //////////////// */
/* /////////////////////////////////////////////// */

html, body {
    height: 100%;
    width: 100%;
    background-color: #F1F1F1;
    background-color: #ebebeb;
}

/* STICKY FOOTER */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#content-wrap{ flex: 1; }


/* NAVBAR */
#search-bar{ width: 150px; }
.cart button{
    display: flex;
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    background-color: transparent;
    border: none !important;
}
.cart svg{color:black;}
.cart .badge{ font-size: 8px; }
.cart button:hover{ background-color: transparent !important; }
.cart:hover svg{ color: red; }


/* /////////////////////////////////////////////// */
/* //////////////// PAGE SPECIFIC //////////////// */
/* /////////////////////////////////////////////// */
/* HOME */
#carosuel-container{
    width: 100%;
    height: 180px;
}
#carosuel-container .carousel, #carosuel-container .carousel .tem{
    height: 100%;
    width: 100%;
}
.carousel-inner{
    height: 100%;
    display: flex;
    align-items: center;
}

.category-card, .onsale-card{
    margin-bottom: 10px;
}
.category-card .wrapper, .onsale-card .wrapper{
    max-width: 200px;
    margin: 0 auto;
}
.category-card .img, .onsale-card .img{
    margin: 0 auto;
    width: 90%;
    padding-top: 90%;
    position: relative;
    overflow: hidden;
}
.category-card img, .onsale-card img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.category-card h3, .onsale-card h3{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 7px;
}

.onsale-scroll{
    display: flex;
    flex-wrap: nowrap;
    overflow-x : scroll;
    user-select: none;
}
.onsale-card .wrapper{
    width: 180px;
}
.onsale-card h3{
    text-align: left;
    padding-left: 10px;
    margin-bottom: 0;
}
.onsale-card p{
    padding-left: 10px;
    margin-top: 0;
}
.onsale-card .original-price{
    text-decoration: line-through;
    color: gray;
}
.onsale-card .new-price{
    color: red;
    font-weight: bold;
}

.blog-previews button{
    margin: 0 auto;
    display: block;
}
.blog-preview{
    color: rgb(104, 104, 104);
    text-align: justify;
}
.blog-preview .link{
    display: none;
    color: green;
    text-decoration: underline;
}
.blog-preview .hidden-link{
    color: inherit;
    text-decoration: none;
}

/* PRODUCTS */
#category-hint{
    color: rgb(85, 85, 85);
    font-size: 14px;
    margin-bottom: 10px;
}
.product-card{
    display: flex;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
.product-card .img{
    width: 110px;
    height: 110px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
}
.product-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-card .info{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-card .info h3{
    font-size: 16px;
    margin-bottom: 0;
}
.product-card .rating{
    font-size: 0;
}
.product-card .rating svg{
    margin-right: 2px;
}
.product-card .price{
    margin: 0;
    display:block;
    line-height: .8;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}
.product-card .unit-price{
    margin: 0;
    display: block;
    font-size: 12px;
    color: rgb(99, 99, 99);
    margin-bottom: 5px;
}

/* /////////////////////////////////////////////// */
/* ////////////////    UTILITY    //////////////// */
/* /////////////////////////////////////////////// */
@media (min-width: 992px) {
    .w-lg-auto {
      width: auto !important;
    }
}
.separator-hr{
    margin: 15px auto;
    width: 60%;
}