/* /////////////////////////////////////////////// */
/* //////////////// GLOBAL STYLES //////////////// */
/* /////////////////////////////////////////////// */

/* STICKY FOOTER */
/* NAVBAR */

/* /////////////////////////////////////////////// */
/* //////////////// PAGE SPECIFIC //////////////// */
/* /////////////////////////////////////////////// */
#carosuel-container{
  height: 320px;
}
.product-details {
  flex-direction: initial;
  flex-wrap: wrap;
}

.product-details .img {
  width: 200px;
  height: 200px;
  position: initial;
  flex-shrink: 0;
  padding-top: 0;
  margin-right: 10px;
}
.product-details .img img {
  width: 100%;
  height: 100%;
  position: initial;
  transform: none;
}
.product-details .info {
  flex-basis: 0;
  flex-grow: 1;
}
.product-details .info .price {
  font-size: 32px;
}
.product-details .info .unit-price {
  font-size: 20px;
}
.product-details .info h3 {
  font-size: 32px;
}

.onsale-scroll {
  max-height: 420px;
}

.onsale-card .wrapper {
  /*width: 180px;*/
  overflow: hidden;
}
.product-details .img {
  margin-bottom: 0;
  border-radius: unset;
}

/* /////////////////////////////////////////////// */
/* ////////////////    UTILITY    //////////////// */
/* /////////////////////////////////////////////// */
