/* /////////////////////////////////////////////// */
/* //////////////// GLOBAL STYLES //////////////// */
/* /////////////////////////////////////////////// */

/* STICKY FOOTER */
/* NAVBAR */

/* /////////////////////////////////////////////// */
/* //////////////// PAGE SPECIFIC //////////////// */
/* /////////////////////////////////////////////// */
/* HOME */
.onsale-scroll .onsale-card{
    width: 20%;
}

/* PRODUCTS */
.product-card{
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 3px 5px 8px 0px rgba(93, 93, 93, 0.182);
    background-color: rgba(255, 255, 255, 0.324);
}
.product-card:hover{
    background-color: white;
}
.product-card .img{
    width: 140px;
    height: 140px;
}
.product-card .info h3{
    font-size: 20px;
}
.products .separator-hr{
    display: none;
}
.product-card .price{
    font-size: 22px;
}
.product-card .unit-price{
    font-size: 14px;
}

.product-details{
    flex-direction: initial;
    flex-wrap: wrap;
}
.product-details:hover{
    background-color: rgba(255, 255, 255, 0.324);
}
.product-details .img{
    width: 400px;
    height: 400px;
    position: initial;
    flex-shrink: 0;
    padding-top: 0;
    margin-right: 10px;
}
.product-details .img img{
    width: 100%;
    height: 100%;
    position: initial;
    transform: none;
}
.product-details .info{
    flex-basis: 0;
    flex-grow: 1;
}
.product-details .info .price{ font-size: 32px; }
.product-details .info .unit-price{ font-size: 20px; }
.product-details .info h3{ font-size: 32px; }

/* /////////////////////////////////////////////// */
/* ////////////////    UTILITY    //////////////// */
/* /////////////////////////////////////////////// */