/* /////////////////////////////////////////////// */
/* //////////////// GLOBAL STYLES //////////////// */
/* /////////////////////////////////////////////// */

/* STICKY FOOTER */
/* NAVBAR */


/* /////////////////////////////////////////////// */
/* //////////////// PAGE SPECIFIC //////////////// */
/* /////////////////////////////////////////////// */
/* HOME */
.blog-preview .link{
    display: inline;
}
.onsale-scroll{
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-x: auto;
}
.onsale-scroll .onsale-card{
    width: 33.33%;
}


/* /////////////////////////////////////////////// */
/* ////////////////    UTILITY    //////////////// */
/* /////////////////////////////////////////////// */