/* /////////////////////////////////////////////// */
/* //////////////// GLOBAL STYLES //////////////// */
/* /////////////////////////////////////////////// */

/* STICKY FOOTER */
/* NAVBAR */

/* /////////////////////////////////////////////// */
/* //////////////// PAGE SPECIFIC //////////////// */
/* /////////////////////////////////////////////// */
/* HOME */
.onsale-scroll {
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-x: auto;
}
.onsale-scroll .onsale-card {
  width: 33.33%;
}
.blog-preview {
  background-color: white;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12);
}

.onsale-card .wrapper {
  width: 150px;
  overflow: hidden;
}

.onsale-scroll {
  max-height: 365px;
}
.product-details .img {
  box-shadow: none;
}
.product-details .priceWrapper div{
  flex-direction: unset;
}


/* /////////////////////////////////////////////// */
/* ////////////////    UTILITY    //////////////// */
/* /////////////////////////////////////////////// */
